# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```
2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [1]:
# 1. Count the number of times iNeuron appears in the string.

text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
text

'Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron'

In [2]:
text.count("iNeuron")

3

In [3]:
# 2. Check if position 5 to 11 ends with the phrase iNeuron. in the string

txt = "Hello, welcome to FSDS 2.0 at iNeuron."

In [6]:
if txt[5:11] == "iNeuron":
    print(f"string position {txt} of 5 to 11 has iNeuron")
else:
    print("It doesn't")

It doesn't

### 3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [8]:
name = input("Enter your full name:")

name_list = name.split()

first = name_list[0][0]
second = name_list[1][0]
third = name_list[2]

print(f"Name is {first}.{second}.{third}")

Enter your full name:Palepu Bhargav Nishanth
Name is P.B.Nishanth

In [9]:
# 4. Join all items in a list into a string, using a hash(#) character as separator:

LIST = ["My", "name", "is", "Rishav", "Dash"]

"#".join(LIST)

'My#name#is#Rishav#Dash'

### 5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

In [10]:
name = "bhargav"

name.isdecimal()

False

In [14]:
s1 = "45621"
s1.isdecimal()

True

In [15]:
s2 = "0.09"
s2.isdecimal()

False

In [24]:
name = "nishanth"

In [25]:
name.islower()

True

In [26]:
name.isupper()

False

In [28]:
name = "Nishanth"
print(name.islower())
print(name.isupper())

False
False

In [29]:
name = "NISHANTH"
print(name.islower())
print(name.isupper())

False
True

In [30]:
name = "nishanth"
name.isalpha()

True

In [31]:
name = "1234"
name.isalpha()

False

In [32]:
name = "1234tyuu"
name.isalpha()

False

In [34]:
s = "12355"
s.isnumeric()

True

In [35]:
s = "12345fgghj"
s.isnumeric()

False

### 6. Indian PAN card format follows the following formats -

    AYEPC7894X
    ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [37]:
PAN = input("Please enter your PAN number: ")
print(PAN.isdecimal())
print(PAN.isalpha())
print(PAN.isalnum())
print(PAN.isdigit())
print(PAN.isnumeric())
print(PAN.isdecimal())
print(PAN.islower())
print(PAN.isupper())

Please enter your PAN number: SDFTT5339Q
False
False
True
False
False
False
False
True